<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>Add a new idea</h1>
          <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
          </section>
		</div>
	</div>
</div>